.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 5vh;
}

.items-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.app-container {
  margin-top: 15vh;
}

.result {
  margin-top: 5vh;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px;
}
